:root {
    --ghost-white: #F8F8FF;
    --ghost-white-dark: #F4F5Fa;
    --bright-blue: #747db7;
    --dark-blue: #4D5380;
    --original-blurple: #7289DA;
    --original-blurple-white: #b3c2fa;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

.flex-container {
    display: flex;
    width: 100%;
}

main.flex-container {
    flex-direction: column;
}

header.flex-container {
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: var(--dark-blue);
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid var(--original-blurple);
}

footer.flex-container {
    display: inline-flex;
    flex-direction: row;
    color: var(--ghost-white);
    bottom: 0;
    background-color: var(--dark-blue);
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    padding: 20px;
}

img.logo {
    height: 70px;
    width: 70px;
    align-self: left;
    justify-self: center;
    padding: 5px;
}

footer.flex-container img.logo {
    height: 70px;
    width: 70px;
}

h1 {
    font-size: 64px;
    margin: 0 25%;
}

ul,
a {
    list-style: none;
    text-decoration: none;
    color: var(--ghost-white);
}

li a.menu-button {
    background-color: var(--ghost-white-dark);
    color: var(--dark-blue);
    border: 4px solid var(--ghost-white);
    border-radius: 10px;
    padding: 2px;
    box-shadow: var(--original-blurple) 0px 0px 10px;
    margin-right: 30px;
}

a.section-button {
    background-color: var(--ghost-white-dark);
    color: var(--dark-blue);
    border: 8px solid var(--ghost-white);
    border-radius: 20px;
    padding: 5px;
    margin: 20px;
    box-shadow: var(--original-blurple) 0px 0px 20px;
    text-shadow: none;
}

section.sell a.section-button {
    display: inline-flex;
    background-color: var(--ghost-white-dark);
    color: var(--dark-blue);
    border: 8px solid var(--ghost-white);
    border-radius: 20px;
    padding: 5px;
    box-shadow: var(--original-blurple) 0px 0px 20px;
}

li .menu-text {
    margin-right: 10px;
    white-space: nowrap;
}

.flex-container.student-card {
    flex-direction: column;
    padding: 20px;
}

.student-image {
    width: 256px;
    height: 256px;
    margin-bottom: 20px;
    align-self: center;
    border-radius: 20px;
}

section {
    padding: 48px;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

section.hero {
    background-image: url(./images/outside.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    color: var(--ghost-white);
    font-size: larger;
    text-shadow: hsla(0, 100%, 0%, 1) 0px 0px 10px;
}

section.sell {
    color: var(--bright-blue);
    background-color: var(--ghost-white);
}

section.sell img.student-image {
    height: 384px;
    width: 384px;
    box-shadow: 5px 5px 15px var(--bright-blue);
}

section.recommend {
    color: var(--ghost-white);
    background-color: var(--dark-blue);
    justify-content: center;
    align-items: center;
    text-align: center;
}

section.apply {
    text-align: center;
    justify-content: center;
    color: var(--bright-blue);
    background-color: var(--ghost-white);
}

.flex-container.sell li {
    padding: 10px;
    margin: 0 5%;
}

.flex-container.sell p,
.flex-container.sell h4,
.flex-container.sell h2 {
    color: var(--bright-blue);
}

.flex-container.students p {
    text-align: left;
    margin-top: 10px;
    padding: 5px;
}

.flex-container.students {
    align-items: center;
}

address {
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-style: normal;
}

.section-button:hover,
.menu-button:hover,
section.sell a.section-button:hover {
    background-color: var(--ghost-white);
    color: var(--original-blurple);
    box-shadow: var(--original-blurple-white) 1px 1px 20px;
    ;
}

@media (max-width: 1200px) {
    .flex-container.students {
        flex-direction: column;
    }

    section.sell img.student-image {
        margin-top: 10px;
    }

    h1 {
        font-size: 32px;
        margin: 0 25%;
    }
}

@media (max-width: 600px) {
    .flex-container.students {
        flex-direction: column;
    }

    section.sell img.student-image {
        margin-top: 10px;
        height: 256px;
        width: 256px;
    }

    img.logo {
        max-height: 50px;
        max-width: 50px;
        align-self: left;
    }

    li a.menu-button {
        font-size: small;
    }

    li .menu-text {
        font-size: small;
    }

    .student-image {
        align-self: center;
    }

    footer.flex-container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    footer.flex-container ul li a {
        margin: 0;
    }

    address {
        margin: 10px 0;

    }

    h1 {
        font-size: 32px;
        margin: 0 25%;
    }
}